[mcu]
serial: /dev/ttyAMA0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 40
max_z_accel: 100

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 16
# endstop_pin: tmc2209_stepper_x:virtual_endstop  # Sensorless homing
endstop_pin: ^P1.29
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: P1.17
run_current: 0.8
hold_current: 0.5
stealthchop_threshold: 250
# diag_pin: P1.29 # Sensorless homing
driver_SGTHRS: 100

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 16
# endstop_pin: tmc2209_stepper_y:virtual_endstop  # Sensorless homing
endstop_pin: ^P1.27
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: P1.15
run_current: 0.8
hold_current: 0.5
stealthchop_threshold: 250
# diag_pin: P1.27 # Sensorless homing
driver_SGTHRS: 100

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
rotation_distance: 8
microsteps: 16
# endstop_pin: probe:z_virtual_endstop  # BL-touch
endstop_pin: ^P1.25
position_max: 250
position_endstop: 0

[tmc2209 stepper_z]
uart_pin: P1.10
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30

[extruder]
max_extrude_only_distance: 100.0
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 30.492053
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
# pressure_advance: 0.2
# pressure_advance_smooth_time: 0.010
control: pid
pid_Kp: 23.996
pid_Ki: 1.088
pid_Kd: 132.275
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: P1.8
run_current: 0.9
hold_current: 0.500
stealthchop_threshold: 5

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
control: pid
# tuned for insulated stock bed @ 80C
pid_Kp: 70.815
pid_Ki: 1.276
pid_Kd: 942.557
min_temp: 0
max_temp: 130

[fan]  # Print cooling fan
pin: P2.3

[heater_fan e0_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0

#[bltouch]
#sensor_pin: P1.25
#control_pin: P2.0
#x_offset: 0
#y_offset: 0
#z_offset: 2.4
#pin_move_time: 0.675

#[safe_z_home]
#home_xy_position: 155,120
#speed: 80.0
#z_hop: 10.0
#z_hop_speed: 10.0

#[bed_mesh]
#speed: 80
#horizontal_move_z: 5
#mesh_min: 90,30
#mesh_max: 230, 220
#probe_count: 3,3
#fade_start: 1.0
#mesh_pps: 2,2

#[gcode_macro G29]
#gcode:
#    BED_MESH_CALIBRATE

#[gcode_macro HOME_ABL]
#gcode:
#    G28
#    BED_MESH_CALIBRATE
#    G90
#    G1 X155 Y120 F3000
